.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 10px 20px;
  color: white;
}

.header-left,
.header-center,
.header-right {
  flex: 1;
}

.header-center {
  text-align: center;
}

.header-right {
  text-align: right;
}

.header button {
  background-color: #61dafb;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #282c34;
}

.header button:hover {
  background-color: #21a1f1;
}
