@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  height: 100vh;
  background: linear-gradient(270deg, #3f51b5, #2196f3, #ff4081, #f50057);
  background-size: 800% 800%;
  animation: gradientAnimation 15s ease infinite;
  color: white;
  padding: 20px;
}

.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  animation: fadeInLeft 1s ease-in-out;
  background-color: rgba(255, 255, 255, 0.9); /* Slightly more opaque */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.quote-text {
  font-family: 'Roboto', serif;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.form-container {
  padding: 20px;
  animation: fadeInRight 1s ease-in-out;
  background-color: rgba(255, 255, 255, 0.9); /* Slightly more opaque */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.form-container .btn-primary {
  margin-top: 20px;
  background-color: #3f51b5; /* Change button color to match theme */
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container .btn-primary:hover {
  background-color: #303f9f; /* Darker shade on hover */
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
